/* =============================================================================
 * Waybar configuration
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 * =========================================================================== */

/* Colors */
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

@define-color background-alpha rgba(0, 0, 0, 0);
@define-color background #398c4b;
@define-color foreground #f8f8f2;
@define-color selection #44aa5a;
@define-color comment #6272a4;

/* Keyframes */
@keyframes blink-warning {
    70% {
        color: @foreground;
    }

    to {
        color: @foreground;
        background-color: @orange;
    }
}

@keyframes blink-critical {
    70% {
        color: @foreground;
    }

    to {
        color: @foreground;
        background-color: @red;
    }
}

/* Reset all styles */
* {
    font-family: "JetBrainsMono NFP";
    border-radius: 7px;
    padding: 1px 7px 1px 7px;
}

/* The whole bar */
#waybar {
    background-color: @background-alpha;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 1.2em;
}


/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray


/* Module styles */
#custom-separator {
}

#custom-power {
    background-color: @background;
    margin-top: 5px;
}

#battery {
    background-color: @background;
    margin-top: 5px;
    margin-right: 3px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    background-color: @background;
    margin-top: 5px;
    margin-right: 3px;
}

#cpu {
    background-color: @background;
    margin-top: 5px;
    margin-right: 3px;
    font-weight: bold;
}

#cpu.warning {
    color: @orange;
}

#cpu.critical {
    color: @red;
}

#memory {
    background-color: @background;
    margin-top: 5px;
    margin-right: 3px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @orange;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @pink;
    margin-top: 5px;
}

#network {
    background-color: @background;
    margin-top: 5px;
    margin-right: 3px;
}

#network.disconnected {
    color: @orange;
}

#pulseaudio {
    background-color: @background;
    margin-top: 5px;
    margin-right: 3px;
}

#pulseaudio.muted {
    /* No styles */
}

#bluetooth {
    background-color: @background;
    margin-top: 5px;
}

#temperature {
    background-color: @background;
    margin-top: 5px;
}

#temperature.critical {
    color: @red;
}

#tray {
    margin-top: 5px;
}

#window {
    background-color: @background;
    margin-top: 5px;
    font-size: 1em;
}

window#waybar.empty #window {
    background-color: transparent;
}

button {
    margin-top: 5px;
    color: @foreground;
}
button:hover {
    background: @selection;
    color: @foreground;
}
button.focused {
    background-color: @background;
}
button.urgent {
    background-color: @red;
}
